.download {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:  "icon title"
                        "icon description";
  gap: 11px 18px;

  width: 360px;

  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);

  transition: 0.3s;

  @include max-width(420px) {
    width: 300px;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 2px #f21780, 0 0 0 5px #ffffff;
  }

  &:focus g,
  &:hover g {
    fill: url(#gradient);
  }
}

.download__icon {
  grid-area: icon;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 115px;

  background-color: #f7fafc;
  border-radius: 3px;

  @include max-width(420px) {
    width: 95px;
    height: 95px;
  }
}

.download__title {
  grid-area: title;
  align-self: end;

  margin: 0;

  color: $text-color-2;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 600;
}

.download__description {
  grid-area: description;
  align-self: start;

  margin: 0;

  font-weight: 300;
}

