.feedback-slider {
  position: relative;

  width: 1200px;
  margin-left: -30px;
  margin-right: -30px;

  @include desktop {
    width: 790px;
    margin-left: auto;
    margin-right: auto;
  }

  @include max-width(860px) {
    width: 400px;
  }

  @include max-width(420px) {
    width: 280px;
  }
}

.feedback-slider__wrapper {
  width: 100%;

  overflow-x: hidden;
  padding: 30px;

  @include desktop {
    padding: 30px 20px;
  }

  @include max-width(420px) {
    padding: 0;
  }
}

.feedback-slider__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

  transition: 0.2s;
  will-change: transform;
}

.feedback-slider__list-item {
  flex-shrink: 0;
  margin-right: 30px;

  &--white .feedback{
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    
    @include desktop {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    @include max-width(420px) {
      background-color: #f5f5f5;
      box-shadow: none;
    }
  }
}

.feedback-slider__button {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 50%;

  cursor: pointer;
  transition: 0.3s;

  &--preview {
    left: -60px;

    @include max-width(1400px) {
      left: 10px;
    }
    @include desktop {
      left: -35px;
    }
    @include max-width(500px) {
      left: 10px;
    }
  }

  &--forward {
    right: -60px;

    @include max-width(1400px) {
      right: 10px;
    }
    @include desktop {
      right: -35px;
    }
    @include max-width(500px) {
      right: 10px;
    }
  }

  &:focus,
  &:hover {
    outline: none;

    background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
    border: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);

    &:focus .feedback-slider__button-icon > path,
    &:hover .feedback-slider__button-icon > path {
      fill: #ffffff;
    }
  }
}

.feedback-slider__button-icon {
  width: 15px;
  height: 7px;
}