.feedback {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: min-content 80px;
  grid-template-areas:  "quote quote"
                        "picture author";
  gap: 22px 20px;

  width: 360px;
  margin: 0;
  padding: 36px 40px;

  background-color: #f7fafc;

  @include max-width(420px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:  "quote"
                          "picture"
                          "author";
    width: 280px;
  }
}

.feedback__quote {
  grid-area: quote;

  margin: 0;
  font-weight: 300;
  line-height: 24px;
}

.feedback__picture {
  grid-area: picture;

  display: block;
  width: 80px;
  height: 80px;

  border-radius: 50%;

  @include max-width(420px) {
    justify-self: center;
  }
}

.feedback__img {
  display: block;
}

.feedback__author {
  grid-area: author;
  align-self: center;

  font-style: normal;

  @include max-width(420px) {
    justify-self: center;
  }
}

.feedback__name {
  color: $text-color-2;
  font-family: Dosis;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.feedback__company {
  font-weight: 300;
  line-height: 24px;
}