.feedback-section {
  padding-top: 115px;
  padding-bottom: 94px;
}

.feedback-section__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  
  text-align: center;
}

.feedback-section__description {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
  
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.feedback-section__slider {
  margin-left: auto;
  margin-right: auto;
}