.footer {
  padding-top: 58px;
  padding-bottom: 53px;

  background-color: $background-color-3;
}

.footer__socials {
  margin: 0;
  margin-bottom: 28px;
}

.footer__copyright {
  margin: 0;
  padding: 0 15px;

  color: $text-color-3;
  font-weight: 300;

  text-align: center;
}