.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    display: none;
    flex-direction: column;
    justify-content: center;

    background-image: linear-gradient(to right, $gradient-color-1 0%, $gradient-color-2 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 35px 30px rgba(0, 0, 0, 0.5);

    transition: 2.3s;
    opacity: 0;

    &--open {
      display: flex;
      opacity: 1;
    }
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  margin-right: 42px;
  padding: 0;

  list-style: none;

  color: $text-color-3;

  @include tablet {
    flex-direction: column;
    justify-content: center;

    margin-right: 0;
    margin-bottom: 20px;
  }
}

.menu__list-item:not(:last-of-type) {
  margin-right: 56px;

  @include tablet {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.menu__link {
  &:focus {
    outline: 2px solid #ffffff;
  }
  &:hover {
    text-decoration: underline;
  }
}

.menu__button {
  width: 153px;
  height: 35px;
  border-radius: 17.5px;
}