.screenshots-slider {
  position: relative;
}

.screenshots-slider__list {
  position: relative;

  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.screenshots-slider__list-item {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  overflow: hidden;

  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);

  transition: 0.3s ease;

  &[data-slide-number="1"] {
    transform: translate(-570px, -50%);
    z-index: 1;
    
    width: 262px;
    height: 280px;
    
    @include desktop {
      transform: translate(-420px, -50%);
    }
    @include tablet-ipad {
      transform: translate(-370px, -50%);
    }
    @include tablet {
      transform: translate(-270px, -50%);
    }
    @include max-width(600px) {
      display: none;
    }

    & .screenshots-slider__image {
      object-position: top left;
    }
  }

  &[data-slide-number="2"] {
    transform: translate(-502px, -50%);
    z-index: 2;
    
    width: 262px;
    height: 360px;
    
    @include desktop {
      transform: translate(-402px, -50%);
    }
    @include tablet-ipad {
      transform: translate(-352px, -50%);
    }
    @include tablet {
      transform: translate(-252px, -50%);
    }
    @include phone {
      display: none;
    }

    & .screenshots-slider__image {
      object-position: top left;
    }
  }

  &[data-slide-number="3"] {
    transform: translate(-375px, -50%);
    z-index: 3;
    
    width: 262px;
    height: 440px;
    
    @include desktop {
      transform: translate(-325px, -50%);
    }
    @include tablet-ipad {
      transform: translate(-275px, -50%);
    }
    @include tablet {
      transform: translate(-225px, -50%);
    }
    @include max-width(500px) {
      display: none;
    }

    & .screenshots-slider__image {
      object-position: top left;
    }
  }

  &[data-slide-number="4"] {
    transform: translate(-50%, -50%);
    z-index: 4;

    width: 360px;
    height: 500px;

    @include max-width(500px) {
      width: 320px;
    }

    & .screenshots-slider__image {
      object-position: top left;
    }
  }

  &[data-slide-number="5"] {
    transform: translate(113px, -50%);
    z-index: 3;
    
    width: 262px;
    height: 440px;
    
    @include desktop {
      transform: translate(63px, -50%);
    }
    @include tablet-ipad {
      transform: translate(13px, -50%);
    }
    @include tablet {
      transform: translate(-37px, -50%);
    }
    @include max-width(500px) {
      display: none;
    }

    & .screenshots-slider__image {
      object-position: top right;
    }
  }

  &[data-slide-number="6"] {
    transform: translate(240px, -50%);
    z-index: 2;
    
    width: 262px;
    height: 360px;
    
    @include desktop {
      transform: translate(140px, -50%);
    }
    @include tablet-ipad {
      transform: translate(90px, -50%);
    }
    @include tablet {
      transform: translate(-10px, -50%);
    }
    @include phone {
      display: none;
    }

    & .screenshots-slider__image {
      object-position: top right;
    }
  }

  &[data-slide-number="7"] {
    transform: translate(308px, -50%);
    z-index: 1;

    width: 262px;
    height: 280px;
    
    @include desktop {
      transform: translate(158px, -50%);
    }
    @include tablet-ipad {
      transform: translate(108px, -50%);
    }
    @include tablet {
      transform: translate(8px, -50%);
    }
    @include max-width(600px) {
      display: none;
    }

    & .screenshots-slider__image {
      object-position: top right;
    }
  }
}

.screenshots-slider__image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: none;
}

.screenshots-slider__button {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 50%;

  cursor: pointer;
  transition: 0.3s;

  &--preview {
    left: -90px;

    @include max-width(1400px) {
      left: 10px;
    }
  }
  
  &--forward {
    right: -90px;
    
    @include max-width(1400px) {
      right: 10px;
    }
  }

  &:focus,
  &:hover {
    outline: none;

    background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
    border: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);

    &:focus .screenshots-slider__button-icon > path,
    &:hover .screenshots-slider__button-icon > path {
      fill: #ffffff;
    }
  }
}

.screenshots-slider__button-icon {
  width: 15px;
  height: 7px;
}