.screenshots-section {
  padding-top: 119px;
  padding-bottom: 50px;

  background-color: $background-color-2;
}

.screenshots-section__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  text-align: center;
}

.screenshots-section__description {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;

  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.scriinshot-section__slider {
  margin-left: auto;
  margin-right: auto;
}