.screenshots-section {
  padding-top: 119px;
  padding-bottom: 118px;

  background-color: $background-color-2;

  @include tablet {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.screenshots-section__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  text-align: center;
}

.screenshots-section__description {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;

  font-weight: 300;
  text-align: center;
}

.screenshots-section__slider {
  margin-left: auto;
  margin-right: auto;
}