.socials {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding: 0;

  list-style: none;
}

.socials__item {

  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    transform: scale(1.2);
  }

  &:focus path,
  &:hover path {
    fill: url(#gradient-link);
  }
}

