$phone: 560px;
$tablet: 768px;
$tablet-ipad: 960px;
$desktop: 1210px;

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet-ipad {
  @media (max-width: #{$tablet-ipad}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin max-width($max-width) {
  @media (max-width: #{$max-width}) {
    @content;
  }
}