$background-color-1: #ffffff;
$background-color-2: #f7fafc;
$background-color-3: #222222;

$text-color-1: #777777;
$text-color-2: #222222;
$text-color-3: #ffffff;
$text-color-4: #333333;

$link-hover: #f21780;

$button-text-color-1: #222222;
$button-text-color-2: #333333;
$button-text-color-3: #ffffff;
$button-background-color-1: #ffffff;

$gradient-color-1: #fd712c;
$gradient-color-2: #f21780;

